<h1>Recipients</h1>

<div class="well well-sm">
    <ul class="nav nav-pills">
      {{#link-to 'recipients.index' tagName="li"}}<a href>List all</a>{{/link-to}}
      {{#link-to 'recipients.new' tagName="li"}}<a href>Add new</a>{{/link-to}}
    </ul>
</div>

{{outlet}}
